.titulo-principal{
  padding-left: 20px;
}

.principal{
  background-color: #879fe8;;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #000000;
     background: linear-gradient(0deg, #ffe042, #ff881a, #879fe8, #ffe042, #ff881a, #879fe8, #ffe042 , #ff881a, #879fe8);
      border: #001224 TRANSPARENT 5px;
  border-radius: 10px;
  
  }
.beneficios{
  background-color: #fffb8a;
  color: black;
  text-align: center;
  border: #75bcff 3px;
  border-radius: 10px;
}

.texto-centralizado {
  text-align: center;
}

p {
 text-align: center; 
  
}

#missao {
  font-size: 20px;
}

em b {
color: #1a1a74;
}

.item{
  font-style: oblique;
}
ul {
   display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.imagem-beneficios{
  style="width: 50%;"
}
