.titulo-principal{
  padding-left: 20px;
}

.principal{
  background-color: #59a03b;;
  color: #ffffff;
}
.banner {
  width: 100%;
}

.textocent {
  text-align: center;
}
h1 {
  text-align: center;
  color: #000000;
     background: linear-gradient(0deg, #f6a431, #cc6300, #6ea848, #f6a431, #cc6300, #6ea848, #f6a431 , #cc6300, #6ea848);
      border: #001224 TRANSPARENT 5px;
  border-radius: 10px;
  
  }
.beneficios{
  background-color: #feae3e;
  color: black;
  text-align: center;
  border: #4d8542 3px;
  border-radius: 10px;
}

.texto-centralizado {
  text-align: center;
}

p {
 text-align: center; 
  
}

#missao {
  font-size: 20px;
}

em b {
color: #1c5e21;
}

.item{
  font-style: oblique;
}
ul {
   display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.imagem-beneficios{
  width: 50%;
}
